<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta name="theme-color" content="#FFD768"/>
  <meta name="description" content="Cari tempat makan favoritmu dengan bermacam tema mulai dari klasik, modern, jawa, bahkan sampai dengan itali"/>

  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="icon" href="./favicon.png">

  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  <title>Hunger Apps Resto</title>
</head>

<body>
  <a href="#main" class="skip-link">Skip ke Konten</a>

  
  <div class="buttonnav">
    <ul class="nav__responsive">
      <h1 class="nav__item__logo__responsive">Hunger Apps</h1>
      <li><button id="hamburger" aria-label="navigation-menu">☰</button></li>
    </ul>
  </div>

  <nav id="drawer" class="nav">
    <ul class="nav__list">
      <h1 class="nav__item__logo">Hunger Apps</h1>
      <li class="nav__item"><a href="#/home">Home</a></li>
      <li class="nav__item"><a href="#/like">Favorite</a></li>
      <li class="nav__item"><a href="https://www.instagram.com/luthfikamalananda/">About Us</a></li>
    </ul>
  </nav>
  <main id='main' tabindex="0">
    </div>
  </main>

  

</body>

</html>